{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": ["error", "always"],
    "no-undef": "error",
    "no-unused-vars": "warn",
    "id-denylist": ["error", "privateKey", "secretKey", "apiKey", "password", "token", "debugMode"]
  }
} 